<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block contentInfo %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <div class="contact_Info_items">

        <ul>

            <li class="web_icon"><a href="#">www.john-doe.com</a></li>

            <li class="msg_icon"><a href="#">hello@john-doe.com</a></li>

            <li class="twitter_icon"><a href="#">twitter</a></li>

            <li class="skype_icon"><a href="#">skype name</a></li>

            <li class="locate_icon"><a href="#topPanel">locate me</a></li>

            <li class="pdf_icon"><a href="#">download resume</a></li>

        </ul>


    </div>
    {% endblock %}
    </body>

</html>